theme = "akiva"

[editor]
line-number = "relative"
idle-timeout = 0
completion-trigger-len = 1
color-modes = true
end-of-line-diagnostics = "hint"

[editor.cursor-shape]
insert = "bar"

[editor.soft-wrap]
enable = true

[editor.lsp]
# display-inlay-hints = true

[editor.inline-diagnostics]
cursor-line = "warning" # show warnings and errors on the cursorline inline

[keys.insert]
C-f = "move_char_right"
C-b = "move_char_left"
j = { k = "normal_mode" }

[keys.normal]
C-A-j = ["extend_to_line_bounds", "delete_selection", "paste_after"]
C-A-k = ["extend_to_line_bounds", "delete_selection", "move_line_up", "paste_before"]

C-h = "jump_view_left"
C-j = "jump_view_down"
C-k = "jump_view_up"
C-l = "jump_view_right"

D = ["vsplit_new", ":set-language diff", ":insert-output git diff", "collapse_selection", "goto_file_start"]
B = ":sh git log -n 5 --format='format:%%h (%%an: %%ar) %%s' --no-patch -L%{cursor_line},+1:%{buffer_name}"
# B = ":sh echo %sh{git show --no-patch --format='%%h (%%an: %%ar): %%s' $(git blame -p %{buffer_name} -L%{cursor_line},+1 | head -1 | cut -d' ' -f1)}"

[keys.normal.minus]

# C-j = ['extend_to_line_bounds', 'delete_selection', 'move_line_down', 'paste_before', ":format"]
# C-k = ['extend_to_line_bounds', 'delete_selection', 'move_line_up', 'paste_before', ":format"]
g = ":sh git status"
e = ":o .env"
d = ["vsplit", "goto_definition"]
o = ["vsplit_new", ":insert-output NODE_ENV=development npm test -- $(rg --files-with-matches 'test.only' test) || true", "collapse_selection", ":lang typescript"]
O = ["vsplit_new", ":insert-output NODE_ENV=development npm test -- $(rg --files-with-matches '#only' test) || true", "collapse_selection", ":lang typescript"]
# s = "@miw h"

# Scooter: TUI find and replace (https://github.com/thomasschafer/scooter)
s = ":sh tmux popup -xC -yC -w90%% -h90%% -E scooter"

[keys.normal.minus.c]

r = ":config-reload"
c = ":config-open"
t = ":o ~/.config/helix/themes/akiva.toml"
l = ":o ~/.config/helix/languages.toml"

[keys.normal.minus.l]
i = ["extend_to_line_bounds", ":append-output echo \"logger.info('$(date | md5 | head -c 8)')\"; echo"]
t = ["extend_to_line_bounds", ":append-output echo \"logger.trace('$(date | md5 | head -c 8)')\"; echo"]
d = ["extend_to_line_bounds", ":append-output echo \"logger.debug('$(date | md5 | head -c 8)')\"; echo"]
w = ["extend_to_line_bounds", ":append-output echo \"logger.warn('$(date | md5 | head -c 8)')\"; echo"]
e = ["extend_to_line_bounds", ":append-output echo \"logger.error('$(date | md5 | head -c 8)')\"; echo"]
